# env
env
.env
.env*
!.env.example

# Flickr search results
ghost-pub-app/pub_photos.json

# DS_Store
*.DS_Store

# Jupyter checkpoints
*.ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Model files
*.pkl
*.joblib
